.tavar {
    width: 1250px;
    height: 600px;
    margin: 0 auto;
    display: flex;

}

.imgscrool img {
    width: 100%;
    height: 550px;
}

.imgscrool {
    width: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.imgsledr {
    display: flex;
    transition: .4s;
    align-items: center;
    background-color: #EFEFEF;


}


.left1 {
    width: 33px;
    height: 33px;
    position: absolute;
    margin-left: 350px;
    z-index: 1;
    border-radius: 50%;
    border: none;
    background-color: #BFBFBF;
    color: white;
    margin-top: -5px;
    cursor: pointer;

}

.right1 {
    width: 33px;
    height: 33px;
    position: absolute;
    margin-left: 00px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    background-color: #BFBFBF;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.img-Itme img {
    width: 125px;
    height: 180px;
    display: flex;
    margin-bottom: 5px;
    background-color: #EFEFEF;
}

.img-Itme {
    height: 100%;
    margin-right: 5px;
    margin-top: 25px;
}

.tavar2 {
    width: 640px;
    height: 100%;
    /* background-color: #BFBFBF; */
    margin-left: 80px;
}

.baho {
    width: 100%;
    height: 20px;
    display: flex;
    margin-top: 35px;
    font-family: sans-serif;
    font-size: 14px;
    align-items: center;
    color: #62676F;
}

.sapan {
    padding-left: 20px;
}

.istak {
    padding-left: 280px;
    font-size: 14px;
}

.istak i {
    cursor: pointer;
    color: #959cb9;
}

.title {
    font-size: 23px;
    font-family: sans-serif;
    color: black;
    padding-top: 15px;
}


.sot {
    display: flex;
    padding-top: 15px;
}

.sot1 {
    font-family: sans-serif;
    font-size: 14px;
}

.sot2 {
    padding-left: 130px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}

.yet1 {
    font-family: sans-serif;
    font-size: 14px;
}

.yet2 {
    padding-left: 88px;
    font-family: sans-serif;
    font-size: 14px;
}



.yetkaz {
    display: flex;
    padding-top: 10px;

}

hr {
    margin-top: 20px;
}


abbr {
    font-size: 11px;
    margin-top: 20px;

}

abbr span {
    font-size: 14px;

}

.miqdor-itme {
    display: flex;

}

.mimg {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 15px;
    color: #7000FF;
    padding-left: 30px;
}

.inc {
    display: flex;
    width: 130px;
    height: 40px;
    border: 1px solid #E0E0E0;
    align-items: center;
    border-radius: 6px;

}

.incc {
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    border: none;
    background-color: #FFFFFF;

}

.dic {
    font-size: 20px;
    cursor: pointer;
    margin-left: 28px;
    border: none;
    background-color: #FFFFFF;

}

.res {
    padding-left: 28px;
    font-size: 20px;
}

.miq {
    font-family: sans-serif;
    font-size: 15px;
    padding: 25px 0 10px 0;
}

.narx1 {
    font-family: sans-serif;
    font-size: 15px;
    padding: 25px 0 10px 0;
}

.narx-itme {
    display: flex;
    align-items: center;
}

.narx-itme h3 {
    font-family: sans-serif;
    font-size: 19px;
}

.narx-itme p {
    font-family: sans-serif;
    font-size: 14px;
    color: #8A8D93;
    padding-left: 20px;
}

.chil {
    width: 90px;
    height: 24px;
    background-color: #9A72F2;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: white;
    justify-content: center;
    font-family: sans-serif;
    font-size: 13.5px;
    margin-left: 20px;


}

.oyiga {
    width: 99%;
    height: 50px;
    background-color: #F5F6FA;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;
}

.oyiga-itme {
    background-color: #FFFF00;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-left: 15px;


}

.oyiga p {
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.oyiga:hover {
    background-color: #edeef5;
    transition: .2s;
}

.oyiga i {
    padding-left: 51%;
    color: #A9ABB0;
    font-size: 14px;
}

.savatga {
    width: 48%;
    height: 55px;
    background-color: #7000FF;
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 25px;
    transition: .2s;

}

.savatga:hover {
    background-color: #5d00d6;

}

.tugmani {
    width: 48%;
    height: 55px;
    border: 1.9px solid #7000FF;
    color: #7000FF;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 15px;
    background-color: white;
    margin-top: 25px;
}

.tugmani:hover {
    background-color: #e9ebf1;
    transition: .2s;

}

.hafta {
    width: 99%;
    height: 40px;
    background-color: #FFF7C1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 14.5px;
    padding-left: 30px;
    margin-top: 20px;
}

.hafta img {
    width: 26px;
    height: 30px;
}

.hafta p {
    padding-left: 10px;
}


/* content */

.content {
    width: 240px;
    height: 460px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: .5s;
    margin-top: 25px;


}

/* loading */
.content1 {
    width: 240px;
    height: 460px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: .5s;
    margin-top: 25px;
    box-shadow: 0px;

}

.conimg {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #F4F4F4;
    position: relative;
}

.load1 {
    width: 95%;
    height: 20px;
    background-color: #F4F4F4;
    margin-top: 15px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}


.load2 {
    width: 55%;
    height: 20px;
    background-color: #F4F4F4;
    margin-top: 15px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;


}

.load3 {
    width: 40%;
    height: 20px;
    background-color: #F4F4F4;
    margin-top: 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;


}

.load4 {
    width: 30px;
    height: 30px;
    background-color: #F4F4F4;
    margin-top: 15px;
    border-radius: 50px;
    position: absolute;
    margin: -25px 0 0 180px;
    position: relative;
    overflow: hidden;


}

.lo1 {
    width: 80px;
    height: 100%;
    background-color: #eeeded;
    transform: rotate(3deg);
    animation: 1s loading infinite;
    position: absolute;
    margin-left: -15%;
    filter: blur(30px);
    border-radius: 10px;

}

.lo2,
.lo3,
.lo4,
.lo5,
.lo6 {
    width: 50px;
    height: 100%;
    background-color: #d7d3d3;
    transform: rotate(3deg);
    animation: 1s loading infinite;
    position: absolute;
    margin-left: -15%;
    filter: blur(30px);
    border-radius: 10px;

}

.cload {
    width: 250px;
    height: 35px;
    position: relative;
    background-color: #F4F4F4;
    overflow: hidden;
    margin-top: 55px;
    border-radius: 8px;
}

@keyframes loading {
    0% {
        left: -20%;
    }

    100% {
        left: 150%;
    }

}


/* tamom */


.conimg img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .5s;


}

.content:hover .conimg img {
    transform: scale(1.1);

}

.content:hover {
    box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.15);

}

.data {
    width: 1250px;
    margin: 0 auto;


}

.scrrol1 {
    display: none;
}

.data1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chibozor {
    position: absolute;
    margin-top: -25px;
    width: 90px;
    height: 20px;
    background-color: #9A72F2;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.ynon{
    display: none;
}
.oyiga1 {
    width: 110px;
    height: 18px;
    background-color: #FFFF00;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.a {
    text-decoration: none;

}

.narx111{
    display: none;
}

.baho1 {
    display: flex;
    align-items: center;
    padding: 6px 0 0 2px;
    color: rgba(0, 0, 0, 0.724);
    font-family: sans-serif;
    font-size: 13px;
}

abbr span {
    font-size: 13px;

}

.xisobot {
    display: flex;
}

.sev {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.525);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 185px;
    position: absolute;
    transition: .2s;
}

.sev:hover {
    background-color: #EFEFEF;
}

.sev img {
    width: 65%;
    height: 65%;
    /* border-radius: 50%; */


}

.plus {
    position: absolute;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px 8px 0 0;
}

.bo {
    font-family: sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.724);
    padding: 15px 4px 0 4px;
}

.oyiga1 {
    margin: 10px 0 0 5px;
}

.narx11 {
    font-family: sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.489);
    padding-left: 8px;

}

.narx12 {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    padding-left: 8px;

}

.xisobot {
    margin-top: 15px;
}

.istak1 {
    position: absolute;
    top: 0;
}

.bb {
    font-family: sans-serif;
    font-size: 28px;
    padding-top: 50px;

}

.bb i {
    font-size: 17px;
    cursor: pointer;
}

.bb b {
    cursor: pointer;
}

@media screen and (max-width:1280px) {
    .data {
        width: 95%;
    }

    .scrrol1 {
        width: 95%;
        display: block;
    }

    .data1 {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto auto auto;
        justify-content: space-between;

    }

    .tavar {
        width: 95%;


    }

    .istak {
        display: flex;
        /* padding: 10%; */
    }

    .baho {
        display: flex;
    }


}

@media screen and (max-width:1263px) {
    .data1 {

        justify-content: space-between;
    }

    .istak span {
        display: none;
    }

    .istak {
        position: absolute;
        right: 80px;
        margin-top: -5px;
    }

    .left1 {
        margin-left: 25%;

    }
}

@media screen and (max-width:1080px) {
    .data1 {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;

    }


    .imgscrool img {
        width: 100%;

    }

    .imgscrool {
        width: 300;
        overflow: hidden;
        display: flex;
        align-items: center;


    }

    .left1 {
        margin-left: 23%;
    }

    .fa-chevron-right {
        position: absolute;
        right: 50px;
    }
}

@media screen and (max-width:1300px) {
    .fxs {
        display: flex;
    }
}

@media screen and (max-width:800px) {
    .data1 {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto;
    }

    .tavar {
        margin-top: 70px;
    }


}

@media screen and (max-width:781px) {
    .tavar {
        margin-bottom: 450px;

    }




}

@media screen and (max-width:780px) {
    .tavar {

        display: grid;
        grid-template-columns: auto auto;
        justify-content: left;
        width: 100%;


    }


    
.narx111{
    display: flex;
    position: fixed;
    z-index: 2;
    bottom:  0px;
    width: 100%;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.596);
    height: 65px;
    align-items: center;
    justify-content: space-around;
   
}

.narx-itme11{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;  
}

.bp3{
    padding-bottom: 20px;
}

.sav{
    width: 45%;
    background-color:#7000FF;
    border-radius: 8px;
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
   justify-content: center;
   font-family: sans-serif;
   font-size: 16px;
   color: white;  
}

.narx{
    display: none;
}

    .ynon{
        display: block;
    }

    .tavar {
        width: 100%;

    }

    .img-Itme {
        margin-left: 20px;
        float: left;

    }

    .imgsledr {
        display: flex;
        justify-content: center;
    }

    .imgscrool {
        width: 90%;
        height: 550px;
        margin-top: 25px;
        display: flex;
        justify-content: center;

    }

    .tavar2 {
        width: 90%;
        position: absolute;
        left: 0;
        margin-top: 600px;
        margin-left: 20px;

    }

    .hh {
        position: relative;
        margin-top: 450px;
        margin-bottom: -90px;
    }

    .fxs {
        display: none;
    }

    .left1 {
        right: 75px;
    }


}




@media screen and (max-width:610px) {

    .conimg {
        width: 100%;
        height: 250px;

    }

}

@media screen and (max-width:550px) {
    .content {
        width: 230px;
        height: 420px;
    }

    .content1 {
        width: 230px;
        height: 420px;
    }

    .data1 {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }

    .img-Itme img {
        width: 115px;
        height: 150px;

    }

    .imgscrool {
        width: 90%;
        height: 460px;


    }




    .tavar2 {
        margin-top: 470px;
    }
    .hh {
        position: relative;
        margin-top: -100px;
        margin-bottom: -90px;
    }

}

@media screen and (max-width:500px) {
    .content {
        width: 220px;
        height: 420px;
    }

    .content1 {
        width: 220px;
        height: 420px;
    }

    .imgscrool {
        width: 90%;
        height: 370px;


    }

  

    .img-Itme img {
        width: 115px;
        height: 120px;

    }
    

    .tavar2 {
        margin-top: 390px;
    }

    .hh {
        position: relative;
        margin-top: -150px;
     

    }

}


@media screen and (max-width:480px) {

    .content {
        width: 210px;
        height: 430px;
    }

    .content1 {
        width: 210px;
        height: 430px;
    }

    .sev {
        display: none;
    }
}

@media screen and (max-width:450px) {
    .sev {
        margin-left: 130px;
    }

    .content {
        width: 200px;
        height: 430px;
    }

    .content1 {
        width: 200px;
        height: 430px;
    }


    .conimg {
        width: 100%;
        height: 225px;

    }

    .load4 {
        margin-left: 80%;
    }

    .left1 {
        right: 55px;
    }


    .pbb{
        padding-top: 60px;
     
    }

    .bp3{
        padding-bottom: 50px;
    }
}

@media screen and (max-width:435px) {

    .content {
        width: 190px;
        height: 430px;
    }

    .content1 {
        width: 190px;
        height: 430px;
    }

    .left1 {
        right: 45px;
    }

    .imgscrool {
        width: 95%;
        height: 370px;
        /* background-color: #5d00d6; */


    }

    .img-Itme img {
        width: 115px;


    }


}

@media screen and (max-width:415px) {

    .content {
        width: 180px;
        height: 430px;
    }

    .content1 {
        width: 180px;
        height: 430px;
    }

}

@media screen and (max-width:405px) {
    .content {
        width: 170px;
        height: 435px;
    }

    .content1 {
        width: 170px;
        height: 435px;
    }


    .bo {
        width: auto;
    }

    .istak {
        position: absolute;
        right: 0;
    }


    .imgscrool {
        width: 95%;
        height: 350px;
        /* background-color: #5d00d6; */


    }

    .img-Itme img {
        width: 90px;
        height: 113.5px;

    }


    .imgsledr img {
        height: 350px;
    }




}


@media screen and (max-width:385px) {
    .sev {
        margin-left: 110px;

    }

    .content {
        width: 170px;
        height: 435px;
    }
}

@media screen and (max-width:371px) {
    .sev {
        margin-left: 110px;

    }

    .content {
        width: 160px;
        height: 435px;
    }
}