.scrol {
    width: 1250px;
    height: 408px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    background-color: #F4F4F4;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.scrrol1 {
    width: 1250px;
    margin: 0 auto;
}

.scrrol11 {
    width: 1250px;
    margin: 0 auto;
}

.imgscrol img {
    width: 1250px;
    object-fit: cover;
    border-radius: 10px;
    
}

.imgscrol {
    display: flex;
    transition: .4s;

    

}

.left {
    position: absolute;
    margin-left: -60px;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 21px;
    background-color: #DDD0FF;
    color: #6D608F;
    cursor: pointer;


}

.right {
    position: absolute;
    margin-left: 20px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 21px;
    background-color: #C596FF;
    color: #44157F;
    cursor: pointer;

}

.scrrol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1250px;
    margin: 0 auto;

}

.load {
    width: 200px;
    height: 100%;
    background-color: #eeeded;
    transform: rotate(3deg);
    animation: 1.5s loading infinite;
    position: absolute;
    margin-left: -15%;
    filter: blur(40px);
    border-radius: 10px;

}

@keyframes loading {
    0% {
        left: 0%;
    }

    100% {
        left: 150%;
    }

}

/* mobilne */

@media screen and (max-width:1280px) {
    .scrol {
        width: 95%;
    }

    .scrrol {
        width: 100%;


    }
    .scrrol11 {
     display: none;
    }
    

    .imgscrol img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
     display: grid;
        
    }

}

@media screen and (max-width:1160px) {

    .scrol {
        height: 610px;
    }
 
}
@media screen and (max-width:1010px) {

    .scrol {
        height: 535px;
    }
 
}
@media screen and (max-width:900px) {

    .scrol {
        height: 470px;
    }
 
}
@media screen and (max-width:800px) {

    .scrol {
        margin-top: 90px;
    }
    .scrol {
        height: 430px;
    }
 
 
}

@media screen and (max-width:720px) {

    .scrol {
        height: 380px;
    }
    .right{
        margin-top: 30px;
        width: 30px;
        height: 30px;
        
    }
    .left{
        margin-top: 30px;
        width: 30px;
        height: 30px;
    margin-left: -50px;

        
    }
}

@media screen and (max-width:650px) {

    .scrol {
        height: 360px;
    }
}


@media screen and (max-width:605px) {

    .scrol {
        height: 320px;
    }
}


@media screen and (max-width:550px) {

    .scrol {
        height: 290px;
    }

}


@media screen and (max-width:495px) {

    .scrol {
        height: 260px;
    }
}
@media screen and (max-width:450px) {

    .scrol {
        height: 240px;
    }

    .right{
        margin-top: 20px;
        width: 30px;
        height: 30px;
        
    }
    .left{
        margin-top: 20px;
    }
}
@media screen and (max-width:408px) {

    .scrol {
        height: 220px;
    }

}